*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --green: #2bb64e;
  --blue: #287bb3;
  --backgroundColor1: rgba(13, 114, 13, 0.6);
  --backgroundColor: #287bb3be;
  --font: 'Assistant', sans-serif;
}
h1,h2,h3,h4{
    font-weight: 100;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}
.navDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    padding: 25px;
    background-color: var();
}
.navTitle{
    
    position: absolute;
    left: 75px;
}
#pawIcon{
   
}
.navLinks {
    padding: 10px;
    font-size: 1.5em;
    cursor: pointer;
}
.navLinks:hover{
    text-decoration: underline;
}
.bannerDiv{
margin: 0;
padding: 0;
height: max-content;
background-color: var(--backgroundColor);
}
.jimBoatImg{
width: 100%;
}
.transitionDiv{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--backgroundColor);
}
.transitionTxt {
    width: 200px;
    color: white;
}
.iconTxtDiv{
    display: flex;
}
.headerTxt{
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.bookDiv{
    display: flex;
    
    align-items: center;
    text-align: center;
    padding: 25px;
    flex-wrap: wrap;
}
.bookImg{
    margin: 15px;
   max-width: 200px;
   max-height: 300px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.bookCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
}
.naturalistWrldDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.naturalistWrldDescTxt{
    width: 800px;
    align-content: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: white;
  padding: 15px;
  font-size: 2.5rem;
}
#locationIcon,
#mapIcon,
#treesIcon {
    color: black;
}
.footerDiv {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
}
.contactDiv {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 160px;
}
.emailBtn{
    outline: none;
    border: none;
    height: 30px;
    padding: 15px;
    display: flex;
    align-content: center;
    align-items: center;
}
@media screen and (max-width: 800px) {
    .navDiv {
        font-size: .5rem;
    }
    .naturalistWrldDiv{
        display: flex;
        flex-direction: column;
        width: 500px;
        height: fit-content;
    }
    .naturalistWrldDescTxt{
        width: 400px;
    }
    .transitionDiv {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .headerTxt{
        position: relative;
        left: 60%;
    }
    #aNWHeaderTxt{
        position: relative;
        left: 10%;
    }
    .footerDiv {
        flex-direction: column;
    }
   
}