*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --green: #2bb64e;
  --blue: #287bb3;
  --backgroundColor2: rgba(13, 114, 13, 0.6);
  --backgroundColor1: #287bb3be;
  --backgroundColor: rgba(28, 88, 28, 0.432);
  --font: 'Assistant', sans-serif;
}
a:link{
    color: black;
    text-decoration: none;
}

a:visited{
  color: black; 
}
h1,h2,h3,h4{
    font-weight: 100;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}
.navDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    padding: 25px;
    background-color: var(--backgroundColor);
}
.navTitle{
    color: white;
    position: absolute;
    left: 75px;
}
#pawIcon{
   
}
.navLinksDiv{
    background-color: #287bb3;
    
}
.navLinks {
    padding: 10px;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}
.navLinks:hover{
    text-decoration: underline;
}
.bannerDiv{
margin: 0;
padding: 0;
height: max-content;
background-color: var(--backgroundColor);
}
.jimBoatImg{
width: 100%;
}
.transitionDiv{
    margin: 0;
    padding: 10px;
    width: 100%;   
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--backgroundColor);
}
.transitionTxt {
    width: 200px;
    color: white;
}
.iconTxtDiv{
    display: flex;
}
.headerTxt{
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.bookDiv{
    display: flex;
    
    align-items: center;
    text-align: center;
    padding: 25px;
    flex-wrap: wrap;
}
.bookImg{
    margin: 15px;
   max-width: 200px;
   max-height: 300px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.bookCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
}
.bioDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: fit-content;
    padding: 15px;
}
.bioTxt{
    padding-top: 75px;
    width: 800px;
    align-content: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: white;
  padding: 15px;
  font-size: 2.5rem;
}

.footerDiv {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
    background-color: var(--backgroundColor);
}
.contactDiv {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}
.emailBtn{
    outline: none;
    border: none;
    height: 30px;
    padding: 15px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    cursor: pointer;
}
.titleTxt{
    position: absolute;
    left: 4%;
    
}
.natWrldDiv {
    display: flex;
    
    justify-content: space-around;
    width: 100%;
    padding: 75px;
    margin: 50px 0 50px 0;
    background-color: black;
    color: white;
}
.ntWrldDesc{
    font-size: 1rem;
    padding: 20px;
}
#ntrWrldLink {
    background-color: #2bb64e;
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
    color: white;
    
}
.natWrldTxt{
    font-size: 1.8rem;
    color: white;
}
@media screen and (max-width: 800px) {
    .navDiv {
        font-size: .5rem;
    }
    .navLinks {
        display: none;
    }
    .natWrldDiv{
        flex-direction: column;
        height: fit-content;
    }
    .naturalistWrldDescTxt{
        width: 400px;
    }
    .transitionDiv {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .headerTxt{
       
    }
  
    .footerDiv {
        flex-direction: column;
    }
   .bioTxt{    
    width: 350px;    
    }
    .ntrWrldLink {
        position: absolute;
    }

}